<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

        <!-- 1.配置页面的访问角色和权限-->
        <security:http auto-config="true" use-expressions="true">
                <!--先拦截所有-->
                <security:intercept-url pattern="/*.do" access="hasAnyRole('ROLE_ADMIN','ROLE_READER','ROLE_OMS')"/>
                <!--配置三种角色,都可以访问的资源-->
                <security:intercept-url pattern="/pages/checkitem.html" access="hasAnyRole('ROLE_ADMIN','ROLE_READER','ROLE_OMS')"/>
                <!--自定义框登录登出-->
                <security:csrf disabled="true"/>
                <!---自定义登录配置-->
                <security:form-login
                        login-page="/pages/login.html"
                        login-processing-url="/sec/login.do"
                        authentication-success-forward-url="/user/loginSuccess.do"
                        authentication-failure-forward-url="/user/loginFail.do"
                />
                <!--自定义退出登录-->
                <security:logout logout-url="/sec/logout.do"
                                 logout-success-url="/pages/login.html"
                                 invalidate-session="true"
                />
        </security:http>

        <!-- 2.配置认证授权管理器（认证管理者、认证提供者、认证对象）-->
        <security:authentication-manager>
                <security:authentication-provider>
                        <security:user-service>
                        <!--user-service：用于获取用户信息，提供给authentication-provider进行认证 -->
                            <security:user name="admin" authorities="ROLE_ADMIN,find,add,update,delete" password="{noop}123456"/>
                            <security:user name="zhangsan" authorities="ROLE_READER,find" password="{noop}123456"/>
                            <security:user name="lisi" authorities="ROLE_OMS,find,add,update" password="{noop}123456"/>
                        </security:user-service>
                </security:authentication-provider>
        </security:authentication-manager>

        <!--3.开启注解配置权限-->
        <security:global-method-security pre-post-annotations="enabled"/>

</beans>