<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：该mapper映射文件的 唯一标识符    -->
<mapper namespace="com.match10.mapper.ApplyMapper">
    <insert id="insertRace" parameterType="com.match10.pojo.Applys">
        insert into user_race values(#{user_id},#{race_id})
    </insert>

</mapper>